<!-- Modal -->
<div class="modal fade editToken" id="addNewTokenModel" tabindex="-1" role="dialog" aria-labelledby="addNewTokenModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add token</h3>
      </div>
      <div class="modal-body">
        <p>The token name will be slugified</p>
        <form id="add_token_form">
          <div class="form-group">
            <input class="form-control input-lg" type="text" name="tokenname" size="50" placeholder="Token name" />
          </div>
          <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success btn-sm" />
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->