<!--============== MODALS =================--> 
<%- include ./login_modal %>
<%- include ./signup_modal %>

<!--============== Footer ==============-->

<div class="footer">
  <div class="container">
    <div class="row footerlinks">
      <div class="col-sm-4 col-md-2">
        <p>CONTACT US</p>
        <ul>
          <li><a href="mailto:info@stashy.io" target="_blank">info@stashy.io</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-2">
        <p>FOLLOW US</p>
        <ul>
          <li><a href="http://twitter.com/stashyio" target="_blank">Follow on Twitter</a></li>
          <li><a href="https://www.facebook.com/stashyio" target="_blank">Like us on Facebook</a></li>
          <li><a href="http://surjithctly.in" target="_blank">Join on Linkedin</a> </li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-2">
        <p>COMPANY</p>
        <ul>
          <li> <a href="#">About us</a></li>
          <li><a href="#">Latest from Blog</a></li>
          <li><a href="#">Our Team</a></li>
        </ul>
      </div>

      
      <div class="col-sm-4 col-md-2">
        <p>LEGAL TERMS</p>
        <ul>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

    </div>
    <div class="row copyright">
      <p>Copyright &copy; 2017. Stashy.io</p>
    </div>
  </div>
</div>